<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to "Blocipedia", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Wikis", wikis_path %></li>

      <% if current_user %>
        <li>Welcome, <%= link_to current_user.username, profile_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>


  </ul>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="error"><%= flash[:error] %></p>
    
    <% if current_user %>
        <div>Welcome, <%= link_to current_user.email, profile_path %></div>
        <div><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
         <% if !current_user.premium? %> 
          <%= form_tag purchases_path do%>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-image="/square-image.png"
              data-name="Demo Site"
              data-description="Become a premium user"
              data-amount="2000">
            </script>
          <% end %>
        <% end %>
      <% end %>
    <%= yield %>


  </div>
</body>
</html>
